

    <div class="container-fluid">

        <header id="Encabezado">
            <div id="EncabezadoImg"><img alt="Logo MIVAH" src="/assets/logo_MIVAH.gif" width="252" height="109"></div>
            <div id="titulo">
                <h1 id="EncabezadoTit">MINISTERIO DE VIVIENDA Y<br />ASENTAMIENTOS HUMANOS</h1>
                <h2 id="EncabezadoTit2">  SISTEMA DE EMERGENCIAS</h2>

            </div>
        </header>
<br><br>

<div class="container body-content">
    <router-outlet></router-outlet>
    <hr />
    <footer>
        <p>&copy; MIVAH - Sistema Emergencias - {{today | date:'yyyy'}} </p>
    </footer>
</div>


</div>